.Rhistory
pdf-approxValidity
.DS_Store

APPROX-VALIDITY/*.csv
APPROX-VALIDITY/res-stable
APPROX-VALIDITY/res-potentially-unstable
APPROX-VALIDITY/merged-*
APPROX-VALIDITY/systematic-subspace.R
APPROX-VALIDITY/approx-subspace.R
APPROX-VALIDITY/.old-res
APPROX-VALIDITY/.old-code
APPROX-VALIDITY/pdf
APPROX-VALIDITY/extract_res.py

METHODS-COMPARISON/SIMULATIONS

WRITUP

.old-code


DENSITY-DEBUG
replication.pyc
